* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.App{
  background: linear-gradient(
    113.46deg,
    #000000 10.07%,
    #031c33 51.72%,
    #004c92 102%
  );
}

.test_img{
  width:100%;
  height:auto;
}
